/* @import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap"); */

.code {
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/foodbg.png");
    background-size: cover;
    height: 100vh;
}

.color {
    background-color: #f6c56e;
    color: #323f4b;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    height: 25vh;
    padding: 5px;
    font-family: Bree Serif;

}

.button {
    color: black;
    font-family: Roboto;
    border-radius: 10px;
    border-width: 0px;
    border-style: 20px;
    height: 35px;
    width: 135px;
}